* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
}

body {
    font-family: "pacifico", sans-serif;
}

a {
    text-decoration: none;
}

html {
    background-image: url(img/summer-palm-leaves-on-pink-background.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }

.video {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: #555;
  background: #fff;
}

.wrapper {
max-width: 1550px;
margin-inline: auto;
}

.container {
max-width: 1200px;
margin-inline: auto;
}

.container1 {
display: flex;
align-items: center;
gap: 40px;
margin-top: 100px;
}


.Date {
    font-family: pacifico;
    font-size: 26px;
    font-weight: 300;
    color: rgb(79, 255, 20);
    position: absolute;
    bottom: 0;
    right: 0;
}


.Main__text {
    font-family: pacifico;
    font-size: 75px;
    font-weight: 300;
    color: deeppink;
    transform: .2s all ease-and-out;
}

.Main__text:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 992px) {
    .container1 {
        flex-direction: column;
    }
    
    .Main__text {
        font-size: 50px;
    }
}